<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
  <Properties>
		<Property name="ctx">eps-hztsa-core-doc</Property>
		<Property name="dir">/app/applogs</Property>
		<Property name="sfLogDir">/app/applogs</Property>
<!-- 		${sys:java.io.tmpdir}  /app/applogs d:/logs   以${logDir}方式引用-->
	</Properties>
  <CustomLevels>
    <CustomLevel name="sysoprate" intLevel="350" />
  </CustomLevels>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="busiRollingFile" fileName="${dir}/${ctx}/applog/${ctx}.log" 
                 filePattern="${dir}/${ctx}/applog/${ctx}-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies> 
      <DefaultRolloverStrategy max="50">
        <Delete basePath="${dir}/${ctx}/applog" maxDepth="2">
          <IfFileName glob="*.log" />
          <IfLastModified age="3d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <!--集团标准日志输出-->
    <RollingFile name="sfStandardLog" fileName="${sfLogDir}/${ctx}/auditlog/audit.log"
                 filePattern="${sfLogDir}/${ctx}/auditlog/audit-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <!-- 日志保存3天 开始 -->
      <DefaultRolloverStrategy max="50">
        <Delete basePath="${dir}/${ctx}/auditlog" maxDepth="2">
          <IfFileName glob="*.log" />
          <IfLastModified age="3d" />
        </Delete>
      </DefaultRolloverStrategy>
      <!-- 日志保存3天 结束 -->
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- Async表示异步写日志，另起线程来写日志 -->
    <AsyncRoot level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="busiRollingFile"/>
    </AsyncRoot>
    <AsyncLogger name="org.apache.shiro" level="error">
    </AsyncLogger>
    <AsyncLogger name="com.sf.vsolution.hx.common.log.BaseLog" level="error">
    </AsyncLogger>
    <!-- 系统用户后台操作日志 -->
    <AsyncLogger name="user.oprate.log" level="error">
    </AsyncLogger>
    <!-- durid日志输出 -->
    <AsyncLogger name="com.alibaba.druid.pool.DruidDataSourceStatLoggerImpl" level="info">
    </AsyncLogger>
    <!-- sql执行语句 -->
    <AsyncLogger name="druid.sql" level="info">
    </AsyncLogger>
    <!--集团标准登录日志输出-->
    <AsyncLogger name="cn.sf.Login.Log" level="info" >
      <AppenderRef ref="sfStandardLog"/>
    </AsyncLogger>

    <!--集团标准用户管理日志输出-->
    <AsyncLogger name="cn.sf.UserManager.Log" level="info">
      <AppenderRef ref="sfStandardLog"/>
    </AsyncLogger>

    <!--集团标准角色管理日志输出-->
    <AsyncLogger name="cn.sf.RoleManager.Log" level="info">
      <AppenderRef ref="sfStandardLog"/>
    </AsyncLogger>
    
    <!--集团标准角色管理日志输出-->
    <AsyncLogger name="com.sf.ms.middleware.log.SafeLogUtil" level="info">
      <AppenderRef ref="sfStandardLog"/>
    </AsyncLogger>

    <!--生成pdf日志级别调整-->
    <AsyncLogger name="com.deepoove.poi" level="error">
    </AsyncLogger>

    <!--obs日志级别调整-->
    <AsyncLogger name="com.obs.services" level="error">
    </AsyncLogger>
  </Loggers>
</Configuration>